.checkoutpro_rating{
        display: flex;
}
.checkoutpro{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutpro_img{
    object-fit: contain;
    width: 180px;
    height:180px;
}
.checkoutpro_info{
    padding-left: 20px;

}
.checkoutpro_info > button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    color: #111;
    cursor: pointer;
}
.checkoutpro_title{
    font-size: 17px;
    font-weight: 600;
}
