.login{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border: 1px solid lightgray;
}
.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login__logo{
    width: 100px;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
}
.login__container>form>h5{
    margin-bottom: 5px;
}
.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
}
.login__container > p{
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.login__signin{
    background: #f0c14b;
    border-radius: 2px;
    width: 100% ;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 15px;
    cursor: pointer;
}
.login__create{
    /* background: #f0c14b; */
    border-radius: 2px;
    width: 100% ;
    height: 30px;
    border: 1px solid;
    margin-top: 22px;
    border-color: darkgray;
    cursor: pointer;
}

.login__container > small{
    color: #f0c14b;
    margin-top: 15px;
}
